<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='diseno_index.css') }}">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>unlistedvids</title>
    <title>Upload a File</title>
</head>
<body>
    <h1 id="uptext" style="bottom:50px;">Sube un JSON</h1>
    <form id="uptext" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
</div>
</body>
</html>
<p style="position: absolute; bottom: 1%; text-align: center; width: 100%; font-size: 12px;">tpnto 2024</p>
